<div class="content-info-privacy">
    <h1 class="privacy-title">利用規約</h1>
    <div class="privacy-body">
        <h2>第1条（本ポリシーが規定する範囲）</h2>
        <ol style="padding-left:20px">
            <li>「ID就活コンテンツポリシー」（以下「本ポリシー」といいます）は、しゃんと株式会社（以下「弊社」といいます）が提供する「ID就活」サービス（ウェブサイト「ID就活」（URL: https://id-shukatsu.com/、以下「本サイト」といいます。）にて提供するサービスおよびスマートフォンアプリ「ID就活」にて提供するサービスを総称し、以下「本サービス」といいます。）に掲載されている情報（以下「掲載コンテンツ」といいます。）の掲載・制作などに関するポリシーとなります。</li>
            <li>本サービスの掲載コンテンツは、主に、弊社や弊社の業務委託先が収集し、または執筆の上本サービスに公開している情報等から構成されます。</li>
            <li>本ポリシーは、現時点における方針であり、今後変更の可能性があります。</li>
        </ol>
        <h2>第2条（掲載コンテンツの目的）</h2>
        <ol style="padding-left:20px">
            <li>弊社は、本サービスのユーザ（以下「ユーザ」といいます。）が就職活動に代表されるキャリアに関する情報収集を行う際の参考として活用することを主な目的として本サービスに掲載コンテンツを掲載しています。</li>
        </ol>
        <h2>第3条（掲載コンテンツに関する著作権及び責任所在）</h2>
        <ol style="padding-left:20px">
            <li>掲載コンテンツに関する著作権及び責任所在は、本サービスの利用規約（https://www.id-shukatsu.com/infos/terms）に準じます。</li>
        </ol>
        <h2>第4条（就活記事の広告に関するポリシー）</h2>
        <ol style="padding-left:20px">
            <li>弊社が、本サイトの就活記事コンテンツ（https://www.id-shukatsu/articles）内において、企業や個人（以下「広告主」といいます。）からの依頼を受け、広告主との間の金銭的利害関係に基づき広告主の情報、商品・サービスを紹介する際には、掲載コンテンツが広告記事である旨がユーザに分かるように、PRマークを掲出します。</li>
            <li>弊社は、ユーザの利益を守るため、以下のポリシーに基づき、本サイトにおいて、広告記事である掲載コンテンツの制作・掲載を行っております。<br> （ア）弊社が紹介したい、価値があると判断した内容を掲載すること。<br>（イ）ユーザにとっても価値があると判断した内容を掲載すること。<br>（ウ）広告主の伝えたいことを本サービスの世界観に基づき、独自に表現すること。</li>
            <li>弊社は、広告の制作・掲載に当たって関係法令を遵守した上で、広告表記・広告主体者の表示を行っています。</li>
            <li>弊社は、以下の項目に該当する商品やサービスに関する広告を制作・掲載しません。<br>（ア）法令・条約に違反し、または第三者の権利を侵害するもの<br>（イ）広告主の実態があきらかでなく、責任の所在が不明なもの<br>（ウ）非科学的、迷信に類するもの<br>（エ）その他社会秩序を乱すおそれがあるなど弊社が不適切だと判断したもの</li>
            <li>弊社は、以下の項目に該当する表現が含まれる広告を制作・掲載しません。<br>（ア）虚偽、誇大または、誤認のおそれがある表現<br>（イ）投機、射幸心をあおる表現<br>（ウ）他者に対する名誉毀損、プライバシーの侵害または営業妨害にあたる表現<br>（エ）わいせつ表現、差別的・侮辱的表現その他弊社が不適切だと判断する表現</li>
            <li>なお、弊社は、広告主からの情報提供（法令適合性に関する見解を含みます。）に基づき広告を制作・掲載しており、当該情報の正確性を前提に、広告の制作・掲載基準を満たしているか判断しております。弊社も、その正確性の確保に務めておりますが、最終的な正確性を保証するものではありません。</li>
        </ol>
        <h2>第5条（掲載コンテンツの削除・修正）</h2>
        <ol style="padding-left:20px">
           <li>掲載コンテンツについての外部からの削除・修正依頼に関しては、弊社が法令上の義務を負わない限り、削除・修正その他の対応をしません。ただし、弊社は、第2条の目的に沿わないと判断した場合、第4条で禁止されるものに該当すると判断した場合その他弊社が適当と認めた場合に限り、投稿者やユーザの承諾を得ることなく、かつ、その理由を説明することなく、当該掲載コンテンツについて本サービス上で非表示・削除・修正等の処置をとることがあります。</li> 
        </ol>
        <h2>第6条（本ポリシーの改定）</h2>
        <ol style="padding-left:20px">
            <li>弊社は、本ポリシーの全部または一部を改定することがあります。</li>
        </ol>
    </div>
</div>


