<%  if @user_internship.nil? %>
  <%= link_to "追加する",new_user_internship_path, remote: true %>
  <div id="internship-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% else  %>
  <%= current_user.user_internship.internship %>
  <td><%= link_to 'Edit', edit_user_internship_path(@user_internship), remote: true %></td>
  <div id="internship-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end  %>