<p class="eiken-right"><%= user_internship.internship %></p>
<td><%= link_to '編集する', edit_user_internship_path(user_internship), remote: true %></td>
<div id="internship-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>