<div class="partner-contents">
    <div class="partner-menus">
        <div class="partner-menu">
            <a href="/partner_page/dashboard">ダッシュボード</a>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="fuu">
                <p>ユーザー管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section fuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>ユーザー検索</span></a>
                </li>
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>新規ユーザー登録</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="guu">
                <p>会社管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section guu">
                <li class="partner-menu-list">
                    <a href="/admin_page/companies">> <span>会社一覧</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>会社検索</span></a>
                </li>
                <li class="partner-menu-list">
                    <a href="/admin_page/companies/new">> <span>新規会社登録</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="nuu">
                <p>イベント管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section nuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/profile">> <span>イベント一覧</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>イベント検索</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>新規イベント登録</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList partner-change" id="muu">
                <p>記事管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section muu">
                <li class="partner-menu-list">
                    <a href="#">> <span>記事一覧</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>記事検索</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>新規記事登録</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList ruu">
                <p>広告管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section ruu">
                <li class="partner-menu-list">
                    <a href="#">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="partner-dashboard">
        <h2>記事管理</h2>
        <div class="events-searches">
                <% @articles.each do |article| %>
                        <div class="article-search">
                            <div class="article-search-head">
                                <%=image_tag article.img.to_s%>
                            </div>
                            <div class="events-search-title">
                                <p><a href="/admin_page/articles/<%= article.id %>/edit"></a><%= article.title%></p>
                            </div>
                        </div>
                <% end %>
        </div>
        <%= paginate(@articles) %>
    </div>
</div>

<script>
  $(function(){
  $('.section').hide();
  
  $('.secList').on('click',function(){
        // クリックした要素の ID と違うクラス名のセクションを非表示
    $('.section').not($('.'+$(this).attr('id'))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $('.'+$(this).attr('id')).toggle();
  });
  $('.article-search').click(function(){
        location.href=$(this).find('a').attr('href');
    });
});
</script>
