<% provide(:title, '新規登録') %>
<div class="sign-up">
    <div class="form-heading">パスワードを忘れた方</div>
    <div class="form-explaration">
        <p>ID就活に会員登録すると、全ての選考対策コンテンツが無料で見放題！</p>
        <p>会員限定の特別イベントや選考のご招待をお届けします</p>
    </div>
    
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <div class="form-detail">
            <p>メールアドレス</p>
            <%=f.email_field :email, class: "form-field" %>
          </div>
          <%=f.submit "確認メールを送信する", class: "form-submit" %>
  <% end %>
  <div class="form-confirmation">ログインすることにより、当社の<a href="#" class="">利用規約</a>および<a href="#" class="">ライバシーポリシー規約</a>に同意したとみなされます。</div>
  <div class="mail-guide"><a href="#">>確認メールが届いていない方はこちら</a></div>
  <div class="login-guide"><a href="/login" >>ログインはこちら</a></div>
</div>

