<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>お知らせ</h2>
    
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">登録済み</div>
           <div　class="profile-title-right">
               <a href="#" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-companies">
            <div class="profile-company">
                <div class="profile-company-left">
                    <img src="/images/sapporo_beer.svg">
                </div>
                <div class="profile-company-right">
                    <p>メーカー</p>
                    <a>サッポロビール株式会社</a>
                </div>
            </div>
            <div class="profile-company">
                
            </div>
        </div>
    </div>
</div>
