<p class="eiken-right"><%= user_eiken.eiken %></p>
<td class="eiken-left"><%= link_to '編集する', edit_user_eiken_path(user_eiken), remote: true %></td>
<div id="eiken-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>