<p>お世話になっております。<br>ID就活 事務局です。</p>
<p>この度は45万冊の大ベストセラー「1分で話せ」を活用した面接対策イベントにお申し込みいただきありがとうございました。<br>最後の確認となりますが、イベントの詳細情報を下記に記載いたしましたので<br>改めましてご確認くださいますようお願いいたします。</p>
<hr>
<p>【開催日】2020年９月28日（月）<br>【開催時間】17時00分～19時00分<br>【開催場所】：オンライン（ZOOMにて開催いたします。）<br>イベント開始10分前になりましたら、以下URLにログインいただくか、ZOOM内「参加」ボタンより、参加をお願いいたします。<br>URL：<a href="https://zoom.us/j/98391972021">https://zoom.us/j/98391972021</a><br>ミーティングID: 983 9197 2021<br>【参加費】無料
<p>【注意事項】<br>①ZOOMアプリのインストールをお願いいたします。<br>②ビデオカメラはオンでお願いいたします。<br>③運営が話している間はミュートでお願いいたします。</p>
<p>イベントの詳細は、以下から確認することができます。<br>https://www.id-shukatsu.com/events/54/p>
<p>それでは当日、お会いできるのを楽しみにしております。<br>どうぞよろしくお願いいたします。</p>
