<p>こんにちは！<br>当イベントを企画した大学3年生の戸田菜摘です。</p>
<p>この度は、「女子限定 自己PR壁打ちイベント」にご応募してくださりありがとうございます。</p>
<p>いよいよイベントが明日に開催されます。</p>
<hr>
<p>イベント当日までに準備していただきたいことが１点ございますのでお知らせいたします。</p>

<p>イベント当日は１人３回壁打ちを行っていただきます。<br>そこで、事前に深掘りしてほしい自己分析のテーマを1つ考えてきていただきたいです。<br>内容は、ガクチカ、自己PR、挫折経験、強み・弱みなどなんでもOKです！<br>１つのテーマに対して３回壁打ちを行うことで、自分の考えを確固たるものにできると考えています。<br>また、３回とも違うテーマについて壁打ちしたいという方は複数のテーマを考えてきていただいても構いません。</p>
<p>以下、イベントの詳細となりますので、<br>再度ご確認のほどよろしくお願い致します。</p>
<hr>
<p>【開催日】2020年９月25日（金）<br>【開催時間】15時40分～18時00分<br>（15時30分からZOOMに入れます。）<br>【開催場所】：オンライン（ZOOMにて開催いたします。）<br>イベント開始10分前になりましたら、以下URLにログインいただくか、ZOOM内「参加」ボタンより、参加をお願いいたします。<br>URL：<a href="https://zoom.us/j/98391972021">https://zoom.us/j/98391972021</a><br>ミーティングID: 983 9197 2021<br>【参加費】無料<br>【服装】私服（女子だけなのでぜひ楽な格好でお越しください！）<br>【持ち物】筆記用具、飲み物
<p>【注意事項】<br>①ZOOMアプリのインストールをお願いいたします。<br>②ビデオカメラはオンでお願いいたします。<br>③運営が話している間はミュートでお願いいたします。</p>
<p>イベントの詳細は、以下から確認することができます。<br>https://www.id-shukatsu.com/events/52?token=7d8bde</p>
<p>それでは当日、お会いできるのを楽しみにしております。<br>どうぞよろしくお願いいたします。</p>
