<p>こんにちは！
<p>この度は、45万冊の大ベストセラー「1分で話せ」を活用した面接対策イベントにご応募してくださりありがとうございます。</p>
<p>いよいよイベントが当日に開催されます。</p>
<hr>
<p>以下、イベントの詳細となりますので、<br>再度ご確認のほどよろしくお願い致します。</p>
<hr>
<p>【開催日】2020年９月28日（月）<br>【開催時間】17時00分～19時00分<br>【開催場所】：オンライン（ZOOMにて開催いたします。）<br>イベント開始10分前になりましたら、以下URLにログインいただくか、ZOOM内「参加」ボタンより、参加をお願いいたします。<br>URL：<a href="https://zoom.us/j/98391972021">https://zoom.us/j/98391972021</a><br>ミーティングID: 983 9197 2021<br>【参加費】無料
<p>【注意事項】<br>①ZOOMアプリのインストールをお願いいたします。<br>②ビデオカメラはオンでお願いいたします。<br>③運営が話している間はミュートでお願いいたします。</p>
<p>イベントの詳細は、以下から確認することができます。<br>https://www.id-shukatsu.com/events/53</p>
<p>それでは当日、お会いできるのを楽しみにしております。<br>どうぞよろしくお願いいたします。</p>
