<div class="partner-contents">
    <div class="partner-menus">
        <div class="partner-menu partner-change">
            <a href="/partner_page/dashboard">ダッシュボード</a>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="fuu">
                <p>応募者管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section fuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>応募者一覧</span></a>
                </li>
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="guu">
                <p>求人管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section guu">
                <li class="partner-menu-list">
                    <a href="/partner_page/event">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="nuu">
                <p>募集要項</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section nuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/profile">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="muu">
                <p>広告設定</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section muu">
                <li class="partner-menu-list">
                    <a href="#">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList ruu">
                <p>アカウント管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section ruu">
                <li class="partner-menu-list">
                    <a href="#">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="partner-dashboard">
        <h2>求人管理</h2>
        <div class="dashboard-situation">
            <div class="partner-profile-title">
                <p>本選考</p>
                <a href="/partner_page/entry/new">編集する　　></a>
            </div>
            <div class="partner-event-entries">
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：2019/09/30</p>
                        <a>編集する</a>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4>本選考のタイトルをここに書く</h4>
                        <div class="event-title">
                            <img src="/assets/clock.svg">
                            <p class="entry-date">4/14(月)</p>
                            <p class="entry-time">16:00 - 18:00</p><br>
                            <img src="/assets/location.svg">
                            <p class="entry-location">東京都渋谷区千駄ヶ谷４丁目１９ー１</p>
                        </div>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span>58</span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：2019/09/30</p>
                        <a>編集する</a>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4>本選考のタイトルをここに書く</h4>
                        <div class="event-title">
                            <img src="/assets/clock.svg">
                            <p class="entry-date">4/14(月)</p>
                            <p class="entry-time">16:00 - 18:00</p><br>
                            <img src="/assets/location.svg">
                            <p class="entry-location">東京都渋谷区千駄ヶ谷４丁目１９ー１</p>
                        </div>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span>58</span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：2019/09/30</p>
                        <a>編集する</a>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4>本選考のタイトルをここに書く</h4>
                        <div class="event-title">
                            <img src="/assets/clock.svg">
                            <p class="entry-date">4/14(月)</p>
                            <p class="entry-time">16:00 - 18:00</p><br>
                            <img src="/assets/location.svg">
                            <p class="entry-location">東京都渋谷区千駄ヶ谷４丁目１９ー１</p>
                        </div>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span>58</span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：2019/09/30</p>
                        <a>編集する</a>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4>本選考のタイトルをここに書く</h4>
                        <div class="event-title">
                            <img src="/assets/clock.svg">
                            <p class="entry-date">4/14(月)</p>
                            <p class="entry-time">16:00 - 18:00</p><br>
                            <img src="/assets/location.svg">
                            <p class="entry-location">東京都渋谷区千駄ヶ谷４丁目１９ー１</p>
                        </div>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span>58</span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：2019/09/30</p>
                        <a>編集する</a>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4>本選考のタイトルをここに書く</h4>
                        <div class="event-title">
                            <img src="/assets/clock.svg">
                            <p class="entry-date">4/14(月)</p>
                            <p class="entry-time">16:00 - 18:00</p><br>
                            <img src="/assets/location.svg">
                            <p class="entry-location">東京都渋谷区千駄ヶ谷４丁目１９ー１</p>
                        </div>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span>58</span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-situation">
            <h3>ジョブ・インターン</h3>
            <div class="partner-event-entries">
                
            </div>
        </div>
        <div class="dashboard-situation">
            <h3>説明会・企業セミナー</h3>
            <div class="partner-event-entries">
                
            </div>
        </div>
    </div>
</div>

<script>
  $(function(){
  $('.section').hide();
  
  $('.secList').on('click',function(){
        // クリックした要素の ID と違うクラス名のセクションを非表示
    $('.section').not($('.'+$(this).attr('id'))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $('.'+$(this).attr('id')).toggle();
  });
});
</script>