<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>友人・後輩紹介キャンペーン</h2>
    <div class="form-explaration">
        <p>友達がフレンド登録のときにコードを入力すると、あなたと友達に必ず500円分のAMAZONギフト券をプレゼント!(<a href="">詳細はこちら</a>)</p>
    </div>
</div>
<div class="sign-up">
    <div class="general-profile">
          <div class="form-detail">
              <p>あなたの招待コード</p>
              <input id="copyTarget" type="text" value="<%= current_user.invitation_token %>" readonly>
                <button onclick="copyToClipboard()">コピーする</button>
          </div>
    </div>
</div>
<div class="profile-container">
    <a href="/mypage" class="green-button"><  マイページに戻る</a>
</div>
<script>
        function copyToClipboard() {
            // コピー対象をJavaScript上で変数として定義する
            var copyTarget = document.getElementById("copyTarget");

            // コピー対象のテキストを選択する
            copyTarget.select();

            // 選択しているテキストをクリップボードにコピーする
            document.execCommand("Copy");

            // コピーをお知らせする
            alert("コピーできました！ : " + copyTarget.value);
        }
</script>