<div class="sign-up">
    <div class="form-heading">プロフィール登録</div>
    <div class="form-uncompleted-message">登録が完了しました！</div>
    <div class="user-welcome">
        <p>登録が完了しました！(なおプロフィール情報はマイページより変更が可能です。<br>早速ID就活で自由な就活を始めましょう！</p>
    </div>
    <div class="profile-tab">
        <%= link_to 'ID就活で就活をスタートする', session[:forwarding_url] || '/mypage' %>
    </div>
</div>