<div class="sign-up">
    <div class="form-heading">新規会員登録</div>
    <div class="form-uncompleted-message">※まだ会員登録は完了していません。</div>
    <div>
        <img src="/assets/mail.svg">
    </div>
    <div class="email-confirmation">
        <p>メールが届いていることを確認し、本文中に記載されているURLから登録を完了してください。</p>
    </div>
</div>