<div class="sign-up">
    <div class="form-heading">新規会員登録</div>
    <div class="form-uncompleted-message">※まだ会員登録は完了していません。</div>
    <div class="user-welcome">
        <p>登録が完了しました！<br>プロフィールを入力し、早速ID就活で自由な就活を始めましょう！</p>
    </div>
    <div class="profile-tab">
        <%=link_to "プロフィールの入力に進む", users_basics_path(@user)%>
    </div>
    <div class="form-confirmation-message">
        <p>ID就活では、様々な登録情報を元に最適なコンテンツの提供をしております。そのためサービスの利用にはプロフィールの登録が必須となりますので必ずプロフィールの入力を行なっていただくようお願いいたします。</p>
    </div>
</div>