<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>お知らせ</h2>
    
    <div class="profile-form">
        <div class="profile-companies">
            <div class="profile-notification-index">
                <p><%= @notification.start_on.strftime("%Y/%m/%d") %></p>
            </div>
            <div class="profile-notification-index">
                <p><%= @notification.content %></p>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">
    <a href="/mypage/notifications" class="green-button"><  お知らせ一覧に戻る</a>
</div>