<div class="company-box">
    <div class="company-box-head-image">
        <img src="/assets/company-top.svg">
    </div>
    <div class="company-box-head">
        <p>メーカー</p>
        <img src="/assets/sapporo_beer2.svg" class="company-logo">
        <h2>サッポロビール株式会社</h2>
    </div>
    <div class="company-box-foot">
    </div>
</div>