<div class="container">
    <a href="/mypage" class="profile-mypage-link"><検索結果に戻る</a>
    <div class="profile-form company-head-form">
        <div class="company-head">
            <div class="company-head-left">
                <img src="/images/sapporo_beer.svg" class="company-logo">
            </div>
            <div class="company-head-title">
                <p>メーカー</p>
                <h2><%= @company.name %></h2>
            </div>
            <div class="company-head-right">
                <a href="#">お気に入りに登録する</a>
            </div>
        </div>
        <div class="company-feature">
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span>テレワーク可</span>
            </div>
        </div>
    </div>
    <div class="company-middle">
    　　<div class="company-middle-left">
        　　<div class="company-introduction">
            　　<div class="company-introduction-title">会社紹介</div>
            　　<p><%= simple_format(@company.introduction) %></p>
        　　</div>
        　　<div class="company-introduction">
            　　<div class="company-introduction-title">募集要項</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>募集職種</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<p>■セールス職<br>■ソリューションエンジニア職<br>■テクニカルサポートエンジニア職<br>■コンサルタント職<br>■ビジネスオペレーションアナリスト職<br>※障害者手帳をお持ちの方…職種は応相談</p>
                　　</div>
            　　</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>業務内容</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<p>データサイエンス力、データエンジニアリング力をベースに、データから価値を創出<br>し、ビジネス課題に答えを出すプロフェッショナルです。<br>・統計学/機械学習の活用による分析やアルゴリズム開発を通じ、クライアントのビジ<br>ネス課題を解決します<br>・多様な業界におけるマーケティング/物流/交通/製造工程/人流の最適化など、広範な<br>領域における課題解決の機会が拡がっています</p>
                　　</div>
            　　</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>応募資格</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<p>大学・大学院卒業見込みの方</p>
                　　</div>
            　　</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>給与</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<p>月給 31.6667万円　〜　35.5万円</p>
                　　</div>
            　　</div>
        　　</div>
    　　</div>
    　　<div class="company-middle-right">
        　　<div class="company-information">
            　　<div class="company-introduction-title">会社情報</div>
        　　</div>
        　　<div class="company-event-information">
        　　    <div class="company-event-head">この企業のイベント情報</div>
        　　</div>
    　　</div>
    </div>
</div>
