<div class="content-info-privacy">
    <h1 class="privacy-title">利用規約</h1>
    <div class="privacy-body">
        <h2>第1条（利用規約の適用）</h2>
        <ol style="padding-left:20px">
            <li>この利用規約（以下「本利用規約」といいます。）は、しゃんと株式会社（以下「弊社」といいます）が提供する「ID就活」サービス（ウェブサイト「ID就活」（URL：https://www.id-shukatsu.com/）、以下「本サイト」といいます。）にて提供するサービス（以下「本サービス」といいます。）の利用に関する条件について、本サービスをご利用になられる方（以下「ユーザ」といいます。）と弊社との間で定めるものです。本利用規約の内容は弊社とユーザの間の個別の利用契約の内容となります。</li>
            <li>ユーザには、本利用規約のほか、弊社が本サービスの利用に関して定めた諸規程においても本サービスの利用条件が定められています。その他諸規程であって弊社が表示したもの（本利用規約とあわせて「本利用規約等」といいます。）は名称の如何に関わらず、弊社とユーザとの間の個別の利用契約の内容となります。なお、本利用規約とその他諸規程の内容が異なる場合は、当該その他諸規程が優先して適用されるものとします。</li>
            <li>ユーザは本利用規約等に従って本サービスを利用することとします。ユーザは本サービスを利用した時点で、本利用規約等のすべての規定について同意したものとみなされます。</li>
            <li>ユーザが未成年者である場合は、親権者など法定代理人の同意を得たうえで本サービスを利用するものとします。また、本サービスの利用を開始した時点で未成年者であったユーザが成年に達した後に本サービスを利用した場合には、未成年者であった間の利用行為を追認したものとみなされます。</li>
        </ol>
        <h2>第2条（利用規約の変更）</h2>
        <ol style="padding-left:20px">
            <li>弊社は、弊社の判断により、本利用規約等をいつでも任意の理由で変更することができるものとします。</li>
            <li>本利用規約等の変更は、別途定める場合を除いて、弊社が本サービス内の適宜の場所に変更後の内容を表示した時点より効力が生じます。</li>
            <li>ユーザが、本利用規約等の変更の効力が生じた後に本サービスをご利用になる場合には、変更後の本利用規約等のすべての規定に同意したものとみなされます。</li>
        </ol>
        <h2>第3条（本サービスの変更等）</h2>
        <ol style="padding-left:20px">
            <li>弊社は、本サービスをよりよいものとするため、いつでも、任意で本サービスの追加、変更をすることがあります。また、次の各号のいずれかに該当する場合、事前にユーザに通知することなく、本サービスの全部または一部について、中断、中止することができるものとします。これらに関してユーザが被った損害について、弊社は責任を負わないものとします。
                <ol style="list-style-type: lower-alpha;margin: 8px 0px;padding-left: 20px;">
                    <li>本サービスの提供のためのコンピュータシステムの保守・点検の場合またはシステムトラブルが発生した場合</li>
                    <li>火災または停電が発生し、本サービスの提供が困難になった場合</li>
                    <li>天災地変により本サービスの提供が困難になった場合</li>
                    <li>システムの不良、第三者からの不正アクセス、およびコンピュータウィルスの感染等により、システムの運用が困難になった場合</li>
                    <li>行政機関または司法機関から要請された場合</li>
                    <li>その他、弊社が必要と判断した場合</li>
                </ol>
            </li>
            <li>弊社は、弊社の判断により本サービスの提供を終了することがあります。弊社が本サービスを終了する場合には、やむを得ない場合を除き、終了する日の1か月前までにユーザに通知するものとします。なお、本サービスの終了に関してユーザが被った損害について、弊社は責任を負わないものとします。</li>
        </ol>
        <h2>第4条（個人情報の取扱い）</h2>
        <p>弊社は、本サービスの運営にあたりユーザから取得するユーザに関する個人情報をプライバシーポリシー（https://www.id-shukatsu/info/privacy）（なお、「個人情報保護方針」および「ID就活での個人情報の取り扱いについて」を含みます。）に基づき、適切に取り扱います。</p>
        <h2>第5条（会員登録）</h2>
        <ol style="padding-left:20px">
           <li>ユーザは、会員となることで、企業からの特別イベント、ならびに特別選考ルートの案内を受け取ることができるともにその他会員限定のサービスを利用することができます。</li> 
           <li>ユーザは、本利用規約等の内容に同意した上で、弊社所定の方法により会員登録を行うことにより、会員となることができます。</li>
           <li>会員登録の申請は必ず個人が行わなければなりません。また、ユーザは、会員登録の申請にあたり、真実、正確かつ最新の情報を弊社に提供しなければならず、他人への成りすましや事実と異なる情報の登録を申請してはならないものとします。</li>
           <li>弊社は、会員登録の申請に関し、次の各号のいずれかに該当する場合は、弊社の判断によって会員登録を承諾しないことがあります。
               <ol style="list-style-type: lower-alpha;margin: 8px 0px;padding-left: 20px;">
                   <li>本利用規約等に違反するおそれがあると弊社が判断した場合</li>
                   <li>弊社に提供された情報の全部または一部につき虚偽、誤記または記載漏れがあった場合</li>
                   <li>過去に弊社から会員登録を取り消された者による会員登録の申請である場合</li>
                   <li>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力等との何らかの交流もしくは関与を行っていると弊社が判断した場合</li>
                   <li>その他弊社が不適切と判断した場合</li>
               </ol>
           </li>
        </ol>
        <h2>第6条（アカウント）</h2>
        <ol style="padding-left:20px">
            <li>会員には弊社所定のアカウントが設定されるものとし、会員は、登録したメールアドレスおよびパスワードを使用して設定されたアカウントを利用することができます。</li>
            <li>会員は、次の各号の定めにも従いながら、自身のアカウントを不正に利用されないように厳重に管理しなければなりません。万一、会員のアカウントが第三者に利用された場合でも、弊社は、会員のアカウントを利用して行われた一切の行為を、会員本人の行為とみなすことができるものとします。
                <ol style="list-style-type: lower-alpha;margin: 8px 0px;padding-left: 20px;">
                    <li>容易に第三者に推測されないパスワードとすること</li>
                    <li>登録したメールアドレスおよびパスワードを第三者に開示しないこと</li>
                    <li>複数の者が使用するデバイス上で本サービスを利用する場合には必ずログアウトすること</li>
                </ol>
            </li>
            <li>会員は、自らが管理する使用可能なメールアドレスを登録しなければならず、登録したメールアドレスが使用できなくなった場合には、登録内容を変更し、自らが管理する使用可能な別のメールアドレスを登録するものとします。</li>
            <li>会員は、本サービスの利用に際してご自身に関する情報を登録する場合には、真実、正確かつ最新の情報を弊社に提供しなければならず、また、常に最新の情報となるように修正するものとします。</li>
            <li>アカウントは、これを開設した会員に一身専属的に帰属し、第三者に譲渡、貸与しまたは相続することはできません。</li>
        </ol>
        <h2>第７条（退会）</h2>
        <ol style="padding-left:20px">
            <li>会員が退会を希望する場合には、弊社所定の方法により退会の申出を行うものとします。</li>
            <li>弊社は、次の各号のいずれかに該当する場合には、弊社の判断によって、あらかじめ会員に通知することなく、会員を強制的に退会させて本サービスの利用をお断りすることがあります。
                <ol style="list-style-type: lower-alpha;margin: 8px 0px;padding-left: 20px;">
                    <li>会員が本利用規約等に違反し、またはそのおそれがあると弊社が認めた場合</li>
                    <li>その他弊社が必要と認める場合</li>
                </ol>
            </li>
            <li>前項のほか、弊社は、最終のアクセスから1年間以上経過しているアカウントを、あらかじめ会員に通知することなく削除することができます。</li>
            <li>会員の退会によりアカウントが削除された場合には、登録情報その他アカウントに紐づけられたデータの復旧はできませんので、ご注意ください。</li>
            <li>会員は、会員の退会により当社が提供する全てのサービスに関する権利を全て失効するものとします。</li>
        </ol>
        <h2>第８条（利用料金）</h2>
        <p>本サービスの利用は無料とします。</p>
        <h2>第９条（利用環境の整備）</h2>
        <ol style="padding-left:20px">
            <li>ユーザは、本サービスを利用するために必要なあらゆる機器、ソフトウェア、通信手段を自己の責任と費用において、適切に整備するものとします。なお、ユーザが未成年者である場合は、親権者など法定代理人がユーザに使用を認めたものをご使用ください。</li>
            <li>ユーザは、自己の利用環境に応じて、コンピュータウィルスの感染の防止、不正アクセスおよび情報漏洩の防止等のセキュリティ対策を講じます。</li>
            <li>弊社はユーザの利用環境について一切関与せず、また一切の責任を負いません。</li>
        </ol>
        <h2>第1０条（コンテンツに関する権利）</h2>
        <ol style="padding-left:20px">
            <li>本サービスおよびこれに含まれるすべてのコンテンツその他の情報および本サービスに関するすべての知的財産（以下「弊社コンテンツ」といいます、）は、弊社および弊社に対するライセンス許諾者に帰属します。</li>
            <li>ユーザは、本利用規約等に明記されるものを除き、弊社の許諾を得ることなく、利用、翻訳・本案、複製、公衆送信、販売、ライセンス許諾その他の方法により弊社コンテンツを利用してはならないものとします。</li>
        </ol>
        <h2>第1１条（ユーザの責任）</h2>
        <ol style="padding-left:20px">
           <li>ユーザは、ユーザ自身の自己責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為およびその結果について一切の責任を負うものとします。万一、他のユーザその他の第三者との間で紛争が生じた場合、ユーザの責任と費用において解決するものとします。</li> 
           <li>本利用規約等に違反して本サービスが利用されていると認めた場合には、弊社は必要かつ適当と判断する措置を講じることができます。ただし、弊社は、当該措置を講じる義務を負うものではありません。</li>
           <li>ユーザは、本サービスを利用したことに起因して（弊社がユーザの本サービスの利用を原因とするクレームを第三者より受けた場合を含みます。）、弊社が直接的または間接的に何らかの損害（弁護士費用の負担を含みます。）を被った場合には、弊社の請求に従って直ちにこれを賠償しなければならないものとします。</li>
           <li>ユーザは、本サービスを利用したことに起因して、他のユーザを含め、第三者との間で紛争が生じた場合には、当該ユーザは自身の責任と費用において第三者との紛争を解決するものとし、弊社は一切の責任を負いません。</li>
        </ol>
        <h2>第1２条（禁止事項）</h2>
        <p>ユーザは、本サービスの利用にあたり、次の各号のいずれかに掲げる行為（これらの行為を援助または助長する行為を含みます。）を行ってはならないものとします。ユーザが次の各号のいずれかに掲げる行為を行った場合、弊社は、事前に通知することなく、強制退会、利用停止等の全部または一部の削除等の措置を行うことができるものとします。なお、前項に定める措置を講じた場合であっても、弊社は、ユーザに対し、当該措置を講じた理由を開示する義務、当該措置によりユーザに生じた損害を賠償する義務その他一切の義務を負わないものとします。</p>
        <ol style="list-style-type: lower-alpha;margin: 8px 0px;padding-left: 20px;">
            <li>イベント情報等の無断転載その他の弊社もしくは第三者の知的財産権（著作権、商標権等を含みますが、これに限られません。）、財産、プライバシーもしくは肖像権を侵害する行為、または侵害するおそれのある行為。</li>
            <li>弊社もしくは第三者を差別、誹謗中傷、侮辱し、第三者への差別を助長し、またはその名誉もしくは信用を毀損する行為。</li>
            <li>営業、宣伝、広告、勧誘その他営利を目的とする行為（弊社が別途認めたものを除きます。）。</li>
            <li>宗教活動または宗教団体への勧誘行為。</li>
            <li>詐欺、規制薬物の濫用、児童売買春、預貯金口座および携帯電話の違法な売買等の犯罪に結びつく、または結びつくおそれのある行為。</li>
            <li>違法行為（けん銃等の譲渡、爆発物の製造、児童ポルノの提供、公文書偽造、殺人、脅迫等）を引き受け、仲介し、または誘引する行為。</li>
            <li>わいせつ、児童ポルノまたは児童虐待に該当すると弊社が認める情報を掲載する行為。</li>
            <li>性行為、わいせつな行為等を目的として利用する行為。</li>
            <li>面識のない異性または同性との出会いや交際を目的とする行為。</li>
            <li>過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現その他社会通念上著しく嫌悪感を抱かせる表現を、投稿する行為。</li>
            <li>他者を自殺、自傷行為に誘引または勧誘する行為。</li>
            <li>違法な賭博・ギャンブルを行わせ、または違法な賭博・ギャンブルへの参加を勧誘する行為。</li>
            <li>無限連鎖講、マルチ商法、またはそれに類するおそれのある目的で本サービスを利用もしくは勧誘する行為。</li>
            <li>弊社の設備に蓄積された情報を改ざんまたは消去する行為。</li>
            <li>ウィルス等の有害なコンピュータプログラム等を送信または掲載する行為。</li>
            <li>弊社または他者のサーバーに負担をかける行為、もしくは、本サービスの利用や運営に支障を与える行為、またはこれらのおそれのある行為。</li>
            <li>スパム行為または弊社がスパム行為と判断する行為。</li>
            <li>弊社または第三者になりすます行為。</li>
            <li>意図的に虚偽の情報を流布させる行為。</li>
            <li>第三者の個人情報、登録情報等を不正に収集、開示または提供する行為。</li>
            <li>第三者のユーザのIDの利用行為、1人が複数のアカウントを保有する行為または複数人が1つのアカウントを共同して保有する行為（弊社が別途認めたものを除きます）。</li>
            <li>第７条第2項により強制退会とされたユーザを招待する行為。</li>
            <li>法令、本利用規約等、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反する行為。</li>
            <li>公序良俗を害するおそれのある行為。</li>
            <li>反社会的勢力等に対する利益供与その他の協力行為。</li>
            <li>第三者の権利を侵害すると弊社が判断する行為。</li>
            <li>本サービスが予定している利用目的と異なる目的で本サービスを利用する行為その他弊社が不適切と判断する行為。</li>
        </ol>
        <h2>第1３条（免責）</h2>
        <ol style="padding-left:20px">
            <li>本サービスを利用したこと、本サービスを利用できなかったこと、不正アクセスや不正な改変がなされたこと、他のユーザを含む第三者の行為その他本サービスに関連する事項に起因または関連してユーザや第三者に生じた損害に関し、弊社は損害賠償責任を負わないものとします。</li>
            <li>弊社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。以下同じです。）がないことを保証しておらず、本サービスの瑕疵に起因または関連してユーザに発生した損害について、責任を負わないものとします。</li>
            <li>ユーザが本サービスにおいて登録、保存等を行った情報は、システムの不具合等により毀損または滅失する可能性があります。ユーザは、弊社は、これらの情報等をバックアップする義務や、毀損・滅失した場合にこれを修復する責任及び義務を負わず、これらの情報等の毀損・滅失によりユーザまたは第三者に生じた損害について責任を負わないことを予め了承するものとします。</li>
            <li>ユーザは、弊社と提携する第三者との提携の終了、第三者のサービス内容、運用方針の変更により、またはユーザが第三者のサービスの全部もしくは一部を利用できなくなることにより、本サービスの全部または一部の利用ができなくなる場合があることを予め了承するものとします。</li>
            <li>弊社は、ユーザに対してアドバイスまたは情報提供を行うことがありますが、その完全性、正確性、有用性を含め、いかなる保証も行うものではなく、これらに起因または関連してユーザに生じた損害について責任を負わないものとします。</li>
            <li>弊社は、本サービスにリンクされた第三者が運営するサイトに関して事実上または法律上の瑕疵がないことを保証するものではなく、リンク先を利用したことに起因または関連してユーザが被った損害等については責任を負わないものとします。</li>
        </ol>
        <h2>第1４条（ユーザへの情報提供および連絡方法）</h2>
        <ol style="padding-left:20px">
            <li>弊社は、ユーザに対して新サービスの告知、アンケートの実施、広告配信、本サービス運営上の事務連絡およびその他の情報提供（以下、「連絡等」といいます。）を行うことがあります。</li>
            <li>弊社からユーザへの連絡等は、本サービス内の適宜の場所への掲示、会員の登録したメールアドレスに対するメールの送信その他弊社が適当と判断する方法により行います。</li>
            <li>本サービスに関するユーザから弊社への通知・連絡は、本サービス内に設置するお問い合わせフォームの送信または弊社が指定する方法により行うものとします。</li>
        </ol>
        <h2>第1５条（準拠法）</h2>
        <p>本利用規約等に関する準拠法は日本法とし、同法に従って解釈されるものとします。</p>
        <h2>第1６条（管轄裁判所）</h2>
        <p>本利用規約等に関し、ユーザと弊社の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
    </div>
</div>

