<p class="eiken-right"><%= user_experience.experience %></p>
<td class="eiken-left"><%= link_to '編集する', edit_user_experience_path(user_experience), remote: true %></td>
<div id="experience-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>