<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@user_experience, remote: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">学生時代の経験</h4>
      </div>
      <div class="modal-body">
        <div class="programming-title">
            <div class="programming-form">
                <div class="form-detail"> 
                    <p>具体的な内容</p>
                    <%=f.text_area :experience, class: "form-field", style: 'height:80px;'  %>
                </div>
            </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
          <%= f.submit "保存する", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>