<div class="event-schedule-title entry-complete-wrapper">
    <div class="entry-complete-top">
        <h2>イベントキャンセル</h2>
        <h1>キャンセルが完了しました！</h1>
        <p>イベントのキャンセルが完了しました。<br>なお、キャンセルが続く場合利用ができなくなる可能性がございます。<br>なるべくキャンセルのないようお願いいたします。</p>
    </div>
</div>
<div class="entry-complete-rollback">
    <%=link_to "エントリー履歴ページに戻る",mypage_entry_path%>
</div>