<div class="event-entry-title">
    <h2>エントリー内容の確認</h2>
</div>
<div class="event-schedule-title">
    <div class="event-schedule-image">
        <img src="/assets/event_schedule_logo.svg">
    </div>
    <div class="event-schedule-head">
        <div class="event-schedule-head-left">
            <img src="/assets/event_schedule_top.svg">
        </div>
        <div class="event-schedule-head-right">
            <p>【PR業界】危機管理広報とは？コーポレート広報のプロ集団/株式会社エイレックス</p>
        </div>
    </div>
</div>
<div class="event-schedule-title schedule-top">
    <h2>1Dayサマーインターンシップ</h2>
    <div class="event-schedule"><!--
        --><img src="/assets/clock.svg"><!--
        --><p class="entry-date">4/14(月)</p><!--
        --><p class="entry-time">16:00 - 18:00</p><!--
        --><img src="/assets/location.svg"><!--
        --><p class="entry-location">東京都渋谷区千駄ヶ谷４丁目１９ー１</p>
    </div>
</div>
<div class="event-schedule-bottom">
    <%=link_to '戻る', event_path(@event),class:'event-schedule-bottom-left'%>
    <%= link_to 'エントリーを完了する',root_path,class:'event-schedule-bottom-right' %>
</div>
