<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>お気に入り企業</h2>
    <p>ID就活では入力した志望情報を元におすすめの企業、イベント情報をお伝えいたします。</p>
    <p>※企業が個人の志望情報を特定することはありません。(詳しくは<a href="#">こちら</a>)</p>
    
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">登録済み</div>
           <div　class="profile-title-right">
               <a href="#" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>名前：</p>
                </div>
                <div class="profile-context-right">
                    <p>迫田良平</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>フリガナ：</p>
                </div>
                <div class="profile-context-right">
                    <p>サコタリョウヘイ</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>性別：</p>
                </div>
                <div class="profile-context-right">
                    <p>男</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>生年月日：</p>
                </div>
                <div class="profile-context-right">
                    <p>1998年 8月 27日</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>住所：</p>
                </div>
                <div class="profile-context-right">
                    <p>東京都渋谷区恵比寿1-24-15シエルブルー恵比寿EAST6階</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>電話番号：</p>
                </div>
                <div class="profile-context-right">
                    <p>090-7253-6258</p>
                </div>
            </div>
        </div>
    </div>
</div>