<div class="container">
    <div class="mypage-title">マイページ</div>
    <div class="mypage-items">
        <%=link_to "#" do %>
        <div class="mypage-item">
            <div class="mypage-text">
                <a href="#">お知らせ</a>
                <p>ID就活からのお知らせ</p>
            </div>
            <div class="mypage-logo">
                <img src="/assets/nortification.svg/" class="logo-centering">
            </div>
        </div>
        <% end %>
        <div class="mypage-item">
            <div class="mypage-text">
                <a href="/mypage/entry">エントリー履歴</a>
                <p>エントリー状況の確認・キャンセルの手続き</p>
            </div>
            <div class="mypage-logo">
                <img src="/assets/nortification.svg/" class="logo-centering">
            </div>
        </div>
        <div class="mypage-item">
            <div class="mypage-text">
                <a href="/mypage/receive">設定</a>
                <p>アカウント情報やスカウト受信設定の確認・変更</p>
            </div>
            <div class="mypage-logo">
                <img src="/assets/setting.svg/" class="logo-centering">
            </div>
        </div>
        <div class="mypage-item" id="mypage-profile-link" data-url="/mypage/profile">
            <div class="mypage-text">
               <a href="/mypage/profile">プロフィール</a>
               <p>基本情報・志望情報等の確認・更新</p>
            </div>
            <div class="mypage-logo">
                <img src="/assets/nortification.svg/" class="logo-centering">
            </div>
        </div>
        <div class="mypage-item">
            <div class="mypage-text">
               <a href="/mypage/skill">スキル・経験</a>
               <p>アカウント情報やスカウト受信設定の確認・変更</p>
            </div>
            <div class="mypage-logo">
                <img src="/assets/nortification.svg/" class="logo-centering">
            </div>
        </div>
        <div class="mypage-item">
            <div class="mypage-text">
               <a href="/mypage/favorite">お気に入り企業</a>
               <p>お気に入り登録した企業の閲覧</p>
            </div>
            <div class="mypage-logo">
                <img src="/assets/nortification.svg/" class="logo-centering">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="sharing">
        
    </div>
    <div class="mypage-links">
        <p><%= @user.name %>さんのための就活リンク</p>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>理工学部</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>大企業</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>IT企業</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
        <div class="mypage-link">
            <img src="/assets/school.svg">
            <p>慶應義塾大学</p>
        </div>
    </div>
</div>
