<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>設定</h2>
    <p>ID就活では入力した志望情報を元におすすめの企業、イベント情報をお伝えいたします。</p>
    <p>※企業が個人の志望情報を特定することはありません。(詳しくは<a href="#">こちら</a>)</p>
    
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">アカウント情報</div>
           <div　class="profile-title-right">
               <a href="/mypage/account" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>メールアドレス：</p>
                </div>
                <div class="profile-context-right">
                    <p><%= @user.email %></p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>パスワード：</p>
                </div>
                <div class="profile-context-right">
                    <p>******************</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">受信設定</div>
           <div　class="profile-title-right">
               <a href="#" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>メルマガ受信：</p>
                </div>
                <div class="profile-context-right">
                    <p></p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>スカウト受信：</p>
                </div>
                <div class="profile-context-right">
                    <p>サコタリョウヘイ</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>お気に入り企業：</p>
                </div>
                <div class="profile-context-right">
                    <p>サコタリョウヘイ</p>
                </div>
            </div>
        </div>
    </div>
</div>