<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>スキル・経験</h2>
    <p>入力いただいたスキル・経験情報を元に、企業からスカウトを受け取ることができます。</p>
    <p>※スカウトの受け取りは<a href="#">受信設定</a>より行うことができます。</p>
    
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">言語スキル</div>
           <div　class="profile-title-right">
               <a href="#" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>英検：</p>
                </div>
                <div class="profile-context-right">
                    <p></p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>TOEIC：</p>
                </div>
                <div class="profile-context-right">
                    <p>サコタリョウヘイ</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>TOEFL：</p>
                </div>
                <div class="profile-context-right">
                    <p>男</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>TOEFL：</p>
                </div>
                <div class="profile-context-right">
                    <p>1998年 8月 27日</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>その他の言語：</p>
                </div>
                <div class="profile-context-right">
                    <p>東京都渋谷区恵比寿1-24-15シエルブルー恵比寿EAST6階</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">  
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">プログラミングスキル</div>
           <div　class="profile-title-right">
               <a href="#" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>言語：</p>
                </div>
                <div class="profile-context-right">
                    <p>慶應義塾大学</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">  
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">経歴</div>
           <div　class="profile-title-right">
               <a href="#" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>学生時代の経歴：</p>
                </div>
                <div class="profile-context-right">
                    <p>慶應義塾大学</p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>インターン経歴：</p>
                </div>
                <div class="profile-context-right">
                    <p>慶應義塾大学</p>
                </div>
            </div>
        </div>
    </div>
</div>