<footer>
    <div class="container">
        <div class="footer-menus">
            <div class="footer-menu">
                <a href="#">はじめての方へ</a>
            </div>
            <div class="footer-menu footer-line">
                <a href="#">運営会社</a>
            </div>
            <div class="footer-menu footer-line">
                <a href="#">利用規約</a>
            </div>
            <div class="footer-menu footer-line">
                <a href="#">プライバシーポリシー</a>
            </div>
            <div class="footer-menu footer-line">
                <a href="#">よくあるご質問</a>
            </div>
            <div class="footer-menu footer-line">
                <a href="#">お問い合わせ</a>
            </div>
        </div>
    </div>
</footer>