<div class="header-menus">
    <div class="container">
        <div class="header-menu id-menu">
            <a　href="#">ID就活とは</a>
        </div>
        <div class="header-menu event-menu">
            <a href="/events">イベント情報</a>
        </div>
        <div class="header-menu company-menu">
            <a href="/companies">認定企業一覧</a>
        </div>
        <div class="header-menu article-menu">
            <a href="/articles">特集記事</a>
        </div>
    </div>
</div>