<div class="header-menus">
    <div class="container">
        <div class="id-menus">
            <div class="header-menu">
                <a href="/special_link">ID検索</a>
            </div>
            <div class="header-menu event-menu">
                <a href="/events">イベント情報</a>
            </div>
            <div class="header-menu company-menu">
                <a href="/companies">認定企業一覧</a>
            </div>
            <div class="header-menu article-menu">
                <a href="/articles">特集記事</a>
            </div>
            <%= form_with scppe: :search, method: :get, url: companies_path, local: true, class: 'header-search' do |f| %>
                    <%= f.text_field :name, class: "form-control" %>
                    <%= f.button fa_icon("search search-color"), class: "search-btn" %>
            <% end %>
        </div>
    </div>
</div>